body {
  /* font-family: 'Indie Flower', cursive;  */
  /* font-family: 'PT Sans', sans-serif; */
  font-family: "Open Sans Condensed", sans-serif;
  /* margin-left: 20px; */
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
